# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Flutter
.DartTool/
.pub/
build/
*.lock

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# OS
Thumbs.db
desktop.ini